# игнорируем временные файлы сборки и не добавляем в проект новые скриншоты
Sure/obj/
Sure/bin/
Sure/screenshots/
# игнорируем специфические файлы code::blocks
*.layout
*.depend
Cmake*
cmake*
/CMakeCache.txt
/Sure/maps/dnb_land_ocean_ice.2012.13500x6750 (1).jpg
/Sure/maps/earth.xcf
