# игнорируем временные файлы сборки и не добавляем в проект новые скриншоты
Sure/obj/
Sure/bin/
Sure/screenshots/
# игнорируем специфические файлы code::blocks
*.layout
*.depend
Cmake*
cmake*
/CMakeCache.txt
